.contact {
    justify-content: center;
    text-align: center;
    display: flex; 
    margin: 0.30%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';

}



