.container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 0.5fr 2.5fr 0.1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "nav nav nav"
      "izquierda mitad derecha"
      ". . ."; 
  }
  .nav { grid-area: nav; }
  .mitad { grid-area: mitad; }
  .izquierda { grid-area: izquierda; }
  .derecha { grid-area: derecha; }