@media screen and (max-width:345px){
    .presentacion{
        padding-left:2%; 
        margin-left:0; 
        padding-right: 2%;
    }
    #titleop{
        padding-top:5%; 
        padding-bottom:5%; 
        
    }







}