body{
  margin:0
}

.nav-link{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    

}




.division3{

  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: space-evenly;
  height:600px;
  align-items: center;
  align-content:space-around;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #2E8B57;
  color: #e9f5dc;
  text-align:center;


}
.gallery{
  border: 1px solid #e9f5dc;
  border-radius: 4px;
  padding: 5px;
  width: 180px;  

}



.division1{
    background-color:#2E8B57 ;
    text-align: center;
    color: #e9f5dc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';  


}

.logfoodies{
  width: 100%;
  height: auto;

}
.desc{
  font-size: 1.5vw;
}
.desc2{ 
  font-size: 1vw;

}
.titulo-principal {
    font-size: 2em;          
    margin-bottom: 20px; } 

.carousel-inner .carousel-item img {
    width: 600px;  
    height: 400px; 
    object-fit: cover;
    max-width: 100%;  
    max-height: auto; 
    margin: 0 auto; 
}

.logo.img{
    width: 100%;
    height: auto;
    
}
.carousel-item{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    background-color: #2E8B57;
    font-size: 2em;         
    margin-bottom: 20px;   
    width: 30 px;    
    align-content: center; 
    padding-top: 10%;
}

ul {
    list-style-type: square;
}

.division2 { 
    background-color:#e9f5dc;
    text-align: center;
    color: #10291b;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';

    padding: 5% 0;
    padding-right: 2%;

}

.aboutus{
    width: 60%; 
    height: 60%; 
    overflow: hidden;
    border-radius: 50%; 
    align-self: center;
  /* overflow: para que no se salga del circulo la img */


}
.container{
  margin:0;
  display: flex;
  flex-wrap: wrap;




}

#mision{
    text-align: left;
    margin: 5%; 
    
}

.gridd{
    padding: 50px 0;
}

.gridd {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". .";
  }

.bulletmision{
    text-align: left;
}

  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  } 
/* de cual es este? */
 
  
  .columnside {
    width: 50%; 
  }
  
  .derecha{
    text-align: right; 
}

.division4{
  background-color:#e9f5dc;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
  padding-top: 2%;
  padding-left:2%; 
  padding-right:2%; 
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "izq der";
}

.izq { grid-area:left ; }

.der { grid-area: right; }


#abtus{
  text-align:center;
  
}
/* .division7 {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 2.2fr 0.4fr;
  gap: 0px 0px;
  padding: 0%;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". . ."
    "footer footer footer"; */
  
  
  .division7{
  height:6vw; 
  }  


.logofoot{ 
  display:flex; 
  align-items: center;


}

.division7 img{
  width:20%;
  height:auto; 
  display:flex;
  align-content:center;
  max-width: 100%;
  max-height: auto;
}

  




